 /* Dejo esta página completa comentada porque en principio quería tener estos estilos por separado,pero si colocaba un overflow:hidden en el body, me aplicaba tambien a la página de portafolio y ahí necesito que haga scroll--> 




 Font 


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

 Estilos generales inicia acá (header y footer) 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: antiquewhite;
    line-height: 1.2;
    font-size: 18px;
}

header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: #4F4A49;




}

#nav_menu li {
    width: 13vw;
    height: 10vh;
    padding: 25px 50px;
    list-style: none;
    color: antiquewhite;
    z-index: 1;
    display: inline-block;
    reducir espacio entre cada li del nav y hacer funcionar el hover en todos los enlaces 

}



.nav_li a:hover {
    background-color: royalblue;
    border-radius: 4px;
    color: gold;

}

a {
    text-decoration: none;

}

body{
    opacity: 0.9;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
        url(../img/backround3.jpg.png);
    height: 100%;
}



ul {
    list-style: none;
}

#logo_nav img {
    padding-top: 15px;
    width: 10vw;
    height: 8vh;
}

.sobremi {
    display: flex;
    word-wrap: nowrap;
}