


/*Estilos body comienza acá*/


.grafico {
    align-content: center;
    border: 2px solid #4F4A49;
    margin-left: 50px;
}


.habilidades-general{
    display: flex;
    justify-content: center;
    
    
}    

div h1{
    text-align: center;
}

.habilidades_tecnicas,
.idiomas{
   color: antiquewhite;
    width: 40%;
    margin-left: 2rem;
    padding-top: 30px;
    
}

/*HABILIDADES TECNICAS*/
.grafico .barra_html,
.barra_css,
.barra_bootstrap,
.barra_js,
.barra_react {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color:goldenrod;
    color: antiquewhite;
    height: 2em;
    line-height: 2em;

}

/*IDIOMAS*/

.grafico .barra_ingles,
.barra_chino,
.barra_frances,
.barra_aleman,
.barra_japones {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background: royalblue;
    color: antiquewhite;
    height: 2em;
    line-height: 2em;
   }

.proyecto {
   
    display: grid;
    grid-template-columns: 3fr 3fr 3fr; /*repeat(auto-fill, minmax(200px, 1fr)); acá yo tendría 8 celdas, la primera me ocupa un octavo, la segunda 5 octavos y la tercera 2 octavos.*/
    grid-template-rows: repeat(2, 300px);
    margin-left: 10px;
    padding-top: 20px;
    

    
   }
.proyecto_integrador{
    width: 100%;
    max-height: 100%;
    background-image: url(../img/primer\ proyecto\ it.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
   
   
}


.proyecto_balsamiq{
    width: 100%;
    max-height: 100%;
    background-image: url(../img/balsamiq.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
   
   
}

.portafolio_balsamiq{
    width: 100%;
    max-height: 100%;
    background-image: url(../img/portafoliobalsamiq.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
   
}


.recetas_codigo{
    width: 85%;
    max-height: 100%;
    background-image: url(../img/recetasmindhub-codigo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 40px;
  
   

}


.portafolio_codigo{
    width: 80%;
    max-height: 100%;
    background-image: url(../img/portafoliocodigo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
   
 
 
   

}