

/* Font */


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Estilos generales inicia acá (header y footer) */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: antiquewhite;
    line-height: 1.2;
    font-size: 18px;
}

header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: #4F4A49;




}

#nav_menu li {
    width: 13vw;
    height: 10vh;
    padding: 25px 50px;
    list-style: none;
    color: antiquewhite;
    z-index: 1;
    display: inline-block;
    /*reducir espacio entre cada li del nav y hacer funcionar el hover en todos los enlaces */

}



.nav_li a:hover {
    background-color: royalblue;
    border-radius: 4px;
    color: gold;

}

a {
    text-decoration: none;

}

body{
    opacity: 0.9;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
        url(../img/backround3.jpg.png);
    height: 100%;
}



ul {
    list-style: none;
}

#logo_nav img {
    padding-top: 15px;
    width: 10vw;
    height: 8vh;
}

.sobremi {
    display: flex;
    word-wrap: nowrap;
}


/*Estilos de header termina acá*/

/*Estilos body comienza acá*/


.grafico {
    align-content: center;
    border: 2px solid #4F4A49;
    margin-left: 50px;
}


.habilidades-general{
    display: flex;
    justify-content: center;
    
    
}    

div h1{
    text-align: center;
}

.habilidades_tecnicas,
.idiomas{
   color: antiquewhite;
    width: 40%;
    margin-left: 2rem;
    padding-top: 30px;
    
}

/*HABILIDADES TECNICAS*/
.grafico .barra_html,
.barra_css,
.barra_bootstrap,
.barra_js,
.barra_react {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color:goldenrod;
    color: antiquewhite;
    height: 2em;
    line-height: 2em;

}

/*IDIOMAS*/

.grafico .barra_ingles,
.barra_chino,
.barra_frances,
.barra_aleman,
.barra_japones {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background: royalblue;
    color: antiquewhite;
    height: 2em;
    line-height: 2em;
   }

.proyecto {
   
    display: grid;
    grid-template-columns: 3fr 3fr 3fr; /*repeat(auto-fill, minmax(200px, 1fr)); acá yo tendría 8 celdas, la primera me ocupa un octavo, la segunda 5 octavos y la tercera 2 octavos.*/
    grid-template-rows: repeat(2, 300px);
    margin-left: 10px;
    padding-top: 20px;
    

    
   }
.proyecto_integrador{
    width: 100%;
    max-height: 100%;
    background-image: url(../img/primer\ proyecto\ it.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
   
   
}


.proyecto_balsamiq{
    width: 100%;
    max-height: 100%;
    background-image: url(../img/balsamiq.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
   
   
}

.portafolio_balsamiq{
    width: 100%;
    max-height: 100%;
    background-image: url(../img/portafoliobalsamiq.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
   
}


.recetas_codigo{
    width: 85%;
    max-height: 100%;
    background-image: url(../img/recetasmindhub-codigo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  
   

}


.portafolio_codigo{
    width: 80%;
    max-height: 100%;
    background-image: url(../img/portafoliocodigo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
   }


   /* DISEÑO RESPONSIVO */

   @media screen and (min-width: 390px) and (max-width: 844px) {
    #logo_nav img {
        padding-top: 15px;
        padding-left: 5px;
        width: 25vw;
    }

    .proyecto{
        display: grid;
        grid-template-columns: 3fr ; /*repeat(auto-fill, minmax(200px, 1fr)); acá yo tendría 8 celdas, la primera me ocupa un octavo, la segunda 5 octavos y la tercera 2 octavos.*/
        grid-template-rows: repeat(5, 300px);
        margin-left: 10px;
        padding-top: 20px;
        width: 80vw;
    }

.proyecto_balsamiq,.portafolio_balsamiq{
    margin-left: 15px;
}
.recetas_codigo{
    margin-top: -110px;
    margin-left: 20px;
    width: 80vw;
}

.portafolio_balsamiq{
    margin-top: -30px;
}

.portafolio_codigo{
    margin-top: -210px;
    margin-left: 20px;
    width: 80vw;
}

.habilidades-general{
   width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
}

.habilidades_tecnicas{
    width: 90vw;
    margin-left: -100px;
    margin-top: -300px;
}
.idiomas{
    width: 90vw;
    margin-left: -100px;
    margin-top: -80px;
   }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .nav_menu li{
        width:22vw;
    }