
/* Font */


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Estilos generales inicia acá (header y footer) */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: antiquewhite;
    line-height: 1.2;
    font-size: 18px;
}

header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: #4F4A49;




}

#nav_menu li {
    width: 13vw;
    height: 10vh;
    padding: 25px 50px;
    list-style: none;
    color: antiquewhite;
    z-index: 1;
    display: inline-block;
    /*reducir espacio entre cada li del nav y hacer funcionar el hover en todos los enlaces */

}



.nav_li a:hover {
    background-color: royalblue;
    border-radius: 4px;
    color: gold;

}

a {
    text-decoration: none;

}

body{
    opacity: 0.9;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
        url(../img/backround3.jpg.png);
        overflow: hidden;
}



ul {
    list-style: none;
}

#logo_nav img {
    padding-top: 15px;
    width: 10vw;
    height: 8vh;
}

.sobremi {
    display: flex;
    word-wrap: nowrap;
}


/*Estilos de header termina acá*/


/*Estilos de main inicia acá*/
body {

    opacity: 0.9;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
        url(../img/backround3.jpg.png);
        position:
}

h1{
    padding-top: 80px;

}

.articulo-inicio {
   justify-content: center;
    align-items: center;
   padding: 100px;
}

p{
    text-align: justify;

}

.boton-frontend{
    background-color: rgb(0, 80, 151);
color: black;
border-color:rgb(0, 80, 151) ;

}
.descargar-cv{
display: flex;
    color: antiquewhite;
    background-color: goldenrod;
    border-color: rgb(227, 212, 184);
}
.descargar-cv a:hover {
    background-color: royalblue;
    border-radius: 4px;
    color: gold;}

/*Estilos de main finaliza acá*/

@media screen and (min-width: 390px) and (max-width: 844px) {
    /* DISEÑO RESPONSIVO */
    * {
        margin: 0;
        padding: 0;
    }
    #logo_nav img {
        padding-top: 15px;
        padding-left: 5px;
        width: 50px;
        height: 35px;
    }

    .nav_menu{
        width: 100vw;
    }

    .nav_menu li{
     
     margin-right: 50px;
      
    }


.articulo-inicio{
    margin-top: -140px;
    margin-left:-40px;


}

p{
    width: 70vw;
}
}

@media screen and (min-width: 768px) and (max-width: 1024px)
{  
    * {
        margin: 0;
        padding: 0;
    }
    #logo_nav img {
        padding-top: 15px;
        padding-left: 5px;
        width: 50px;
        height: 35px;
    }

    .nav_menu{
        width: 100vw;
    }

    .nav_menu li{
       margin-right: 1px;
      
    }
    .articulo-inicio{
        margin-top: -50px;
        margin-left:-5px;
   
}
    
    p{
        width: 70vw;
    }
}