

.sobremi {
    display: flex;
    word-wrap: nowrap;
}

/* Estilos generales y header finaliza acá */


/*Estilos de main inicia acá*/
body {

    opacity: 0.9;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
        url(../img/backround3.jpg.png);
        position:
}

h1{
    padding-top: 80px;

}

.articulo-inicio {
   justify-content: center;
    align-items: center;
   padding: 100px;
}

p{
    text-align: justify;

}

.boton-frontend{
    background-color: rgb(0, 80, 151);
color: black;
border-color:rgb(0, 80, 151) ;

}
.descargar-cv{
display: flex;
    color: antiquewhite;
    background-color: goldenrod;
    border-color: rgb(227, 212, 184);
}
.descargar-cv a:hover {
    background-color: royalblue;
    border-radius: 4px;
    color: gold;}

/*Estilos de main finaliza acá*/