/*Cosas para arreglar/revisar:
-Poner fixed o sticky en el header y que ande. DONE
-Acomodar el video /cambiarlo por solo sonido 
-Centrar el main
-revisar color de fondo body e img logo_nav (LOS DEJO ASI???)





/* Font */


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Estilos generales inicia acá (header y footer) */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: antiquewhite;
    line-height: 1.2;
    font-size: 18px;
}

header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: #4F4A49;




}

#nav_menu li {
    width: 13vw;
    height: 10vh;
    padding: 10px 50px;
    list-style: none;
    color: antiquewhite;
    z-index: 1;
    display: inline-block;
    /*reducir espacio entre cada li del nav y hacer funcionar el hover en todos los enlaces */

}

.nav_li a:hover {
    background-color: royalblue;
    border-radius: 4px;
    color: gold;

}

a {
    text-decoration: none;
   
}
body {
    background-color: #4F4A49;
    opacity: 0.9;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url(../img/backround1.jpg);
}

ul {
    list-style: none;
}

#logo_nav img {
   
    width: 10vw;
    height: 8vh;
}

.sobremi {
    display: flex;
    word-wrap: nowrap;
}
/* Estilos generale y header  finaliza acá */


/*Estilos de index inicia acá*/



.h1,h2{
    justify-content: center;
}
.texto-inicio{
  padding-left: 5rem

}


.img_casandra {
    display: flex;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    padding-right: 20px;
}



.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.frontend{
    justify-content: center;
    text-align: center;

}


.conoce-mas{
    display: flex;
    color: antiquewhite;
    background-color: goldenrod;
    border-color: rgb(227, 212, 184);
    

}

.conoce-mas a:hover{
    background-color: royalblue;
    border-color: rgb(51, 51, 180);
    color: antiquewhite;


}


/*Estilos de index finaliza acá*/


/*Estilo página Carrera comienza acá

Revisar: poner las 2 img en una misma linea con flexbox
darle flexbox a los graficos 
revisar que cada seccion se vea por separado, solo una seccion a la vez
hacer lista desplegable en habilidades blandas 



.proyecto_integrador,
 .proyecto_balsamiq,
 .proyecto_mh{
   
    /*poner las 2 img en una sola linea
    margin-block-start: 6em;
    margin-block-end: 4em;
    height: 400px;
    width: 600px;
   }

   /*.portafolio_mh{
    height:500px ;
    width: 900px;
    margin-inline-start: 20em;}
   

   .proyectos{
    display: flex;
    justify-content: center;
    height:500px ;
    width: 900px;

   }

/*quiero centrar hab tecnicas e idiomas...????*/
