/*Cosas para arreglar/revisar:
-Poner fixed o sticky en el header y que ande. DONE
-Acomodar el video /cambiarlo por solo sonido 
-Centrar el main
-revisar color de fondo body e img logo_nav (LOS DEJO ASI???)







/* Estilos generales y header  finaliza acá */


/*Estilos de index inicia acá*/


.h1,
h2 {
    justify-content: center;
}

.texto-inicio {
    padding-left: 5rem
}


.img_casandra {
    display: flex;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    padding-right: 20px;
}



.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.frontend {
    justify-content: center;
    text-align: center;

}


.conoce-mas {
    display: flex;
    color: antiquewhite;
    background-color: goldenrod;
    border-color: rgb(227, 212, 184);


}

.conoce-mas a:hover {
    background-color: royalblue;
    border-color: rgb(51, 51, 180);
    color: antiquewhite;


}


/*Estilos de index finaliza acá*/

.h1,
h2 {
    justify-content: center;
}

.texto-inicio {
    padding-left: 5rem
}


.img_casandra {
    display: flex;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    padding-right: 20px;
}



.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.frontend {
    justify-content: center;
    text-align: center;

}


.conoce-mas {
    display: flex;
    color: antiquewhite;
    background-color: goldenrod;
    border-color: rgb(227, 212, 184);


}

.conoce-mas a:hover {
    background-color: royalblue;
    border-color: rgb(51, 51, 180);
    color: antiquewhite;


}



